#
# EXAMPLE OF ENV FILE FOR LAUNCHING
#

#
# DATABASE VARS
#
DB_NAME= # example: postgres
DB_USERNAME= # example: postgres
DB_PASSWORD= # example: postgres
DB_URL= # example: driver://user:password@host:port/db_name

MIGRATIONS_DB_URL= # postgresql://postgres:postgres@payment-service-database/postgres
DB_URL= # postgresql+asyncpg://postgres:postgres@payment-service-database/postgres


#
# REDIS VARS
#
REDIS_URL= # "redis://payment-service-redis/0"


#
# CAR DEALERSHIP APP VARS
#
PAYMENT_SERVICE_SECRET_KEY= # example: secret-key
