#
# EXAMPLE OF ENV FILE FOR LAUNCHING
#

#
# DATABASE VARS
#
DB_NAME= # example: postgres
DB_USERNAME= # example: postgres
DB_PASSWORD= # example: postgres

#
# REDIS VARS
#


#
# CAR DEALERSHIP APP VARS
#
PAYMENT_SERVICE_SECRET_KEY= # example: secret-key
